body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#form-builder {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-element {
    margin-bottom: 10px;
}

#form-elements {
    margin-bottom: 20px;
    
    
    

}

#add-element,
#generate-form {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
}

#add-element:hover,
#generate-form:hover {
    background-color: #45a049;
}
